// Animation
@include keyframes(slide-in-from-left) {
  100% { transform: translateX(0%); }
}
@include keyframes(slide-out-from-left) {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}
@include keyframes(slide-in-from-right) {
  100% { transform: translateX(0%); }
}
@include keyframes(slide-out-from-right) {
  0% { transform: translateX(100%); }
  100% { transform: translateX(0%); }
}

@include keyframes(slide-out-from-top) {
  @for $i from 0 through 5 {
    $percent: 20% * $i;
    #{$percent} {
      @if ($percent > 75%) {
        opacity: 0.2 * $i;
      } @else {
        opacity: 0;
      }
      transform: translateY(-(25% - $i*5%));
    }
  }
}

@include keyframes(slide-in-to-top) {
  @for $i from 0 through 4 {
    $percent: 25% * $i;
    #{$percent} {
      @if ($percent > 40%) {
        opacity: 0;
      } @else {
        opacity: 1 - $i/2*0.1;
      }
      transform: translateY(-($percent/2 + $i*2%));
    }
  }
}

@include keyframes(transitionUp) {
  0% {
    opacity: 0;
    @include transform(translate3d(0, -100%, 0));
  }
  100% {
    opacity: 1;
    @include transform(translate3d(0, 0, 0));
  }
}

@include keyframes(transitionDown) {
  0% {
    opacity: 0;
    @include transform(translate3d(0, -20%, 0));
  }
  100% {
    opacity: 1;
    @include transform(translate3d(0, 0, 0));
  }
}

// Fading effects
@include keyframes(fadeInDown) {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@include keyframes(fadeOut) {
  from { opacity: 1; }
  to { opacity: 0; }
}
@include keyframes(fadeIn) {
  to {
    opacity: 1;
  }
}

@include keyframes(sideRight) {
  0% {
    transform: translateX(-10px);
    opacity: 0
  }
  100% {
    transform: translateX(0);
    opacity: 1
  }
}

.slide-in-from-left {
  @include animation(slide-in-from-left forwards 0.3s);
}
.slide-out-from-left {
  @include animation(slide-out-from-left forwards 0.3s);
}
.slide-in-from-right {
  @include animation(slide-in-from-right backwards 0.5s);
}
.slide-out-from-right {
  @include animation(slide-out-from-righ backwards  0.3s);
}