$icon-rf-stamp: '\e601';
$icon-youtube-circle: '\e602';
$icon-instagram-circle2: '\e603';
$icon-gplus-circle: '\e604';
$icon-pinterest-circle: '\e605';
$icon-twitter-circle: '\e606';
$icon-instagram-circle: '\e607';
$icon-facebook-circle: '\e608';
$icon-menu: '\e609';
$icon-bag: '\e60a';
$icon-search: '\e60b';
$icon-chevron-left: '\e60c';
$icon-chevron-right: '\e60d';
$icon-expand-more: '\e60e';
$icon-expand-less: '\e60f';
$icon-arrow-back: '\e610';
$icon-arrow-forward: '\e611';
$icon-arrow-drop-right: '\e612';
$icon-arrow-drop-down: '\e613';
$icon-arrow-drop-up: '\e614';
$icon-close: '\e616';
$icon-cancel: '\e617';
$icon-highlight-off: '\e618';
$icon-more-horiz: '\e619';
$icon-delete-trash: '\e61a';
$icon-crp-autoship: '\e61c';
$icon-error: '\e61d';
$icon-error-outline: '\e61e';
$icon-warning: '\e61f';
$icon-info: '\e620';
$icon-info-outline: '\e621';
$icon-help: '\e622';
$icon-help-outline: '\e623';
$icon-check-circle: '\e624';
$icon-indeterminate-check-box: '\e628';
$icon-check-box-outline-blank: '\e629';
$icon-check-box: '\e62a';
$icon-radio-button-checked: '\e62b';
$icon-radio-button-unchecked: '\e62c';
$icon-share: '\e62d';
$icon-person: '\e62e';
$icon-check: '\e62f';
$icon-file-upload: '\e630';
$icon-file-download: '\e631';
$icon-remove-circle-outline: '\e632';
$icon-remove-circle: '\e633';
$icon-add-circle-outline: '\e634';
$icon-add-circle: '\e635';
$icon-location: '\e636';
$icon-email: '\e637';
$icon-textsms: '\e638';
$icon-phone: '\e639';
$icon-settings: '\e63a';
$icon-photo-camera: '\e63b';
$icon-image: '\e63c';
$icon-volume: '\e63d';
$icon-portrait-black: '\e63f';
$icon-contacts-black: '\e640';
$icon-digital-products: '\e625';
$icon-bag-plus: '\e626';
$icon-add-alert: '\e643';
$icon-bag-plus-outline: '\e627';
$icon-quote-1: '\e63e';
$icon-quote2: '\e641';
$icon-favorite-filled: '\e642';
$icon-favorite-outline: '\e644';
$icon-account-image: '\e645';
$icon-pulse-mark: '\e600';
$icon-question-mark-serif: '\e646';
$icon-filter: '\e900';
$icon-view-details: '\e901';
$icon-tracking: '\e902';