/*-------------------*
 * HEADER
 *-------------------*/

header {
  height: 72px;
  padding: 22px 20px 20px;
  box-shadow: 0px 20px 10px -20px rgba(0, 0, 0, 0.4);
  margin-bottom: 30px;
  position: fixed;
  z-index: 2;
  background-color: #fff;
  width: 100%;
}

header > h1 {
  font-family: $bodini-roman;
  font-size: 2em;
  font-weight: 600;
  line-height: 1;
  color: #00BBE6;
}

header > h1 .logo {
  display: block;
  height: 32px;
  width: 78px;
  background: url('../images/rf-stamp-logo.svg') no-repeat left top;
  background-size: contain;
  float: left;
  margin-right: 15px;
}