<main>
  ${require('../../markdown/templates/templates-cssinfo.md')}
  <h2>Template Titles</h2>
  ${require('../../markdown/templates/templates-titles.md')}
  <h2>CSS Helpers</h2>
  ${require('../../markdown/templates/templates-csshelpers.md')}
  <h2>Layout modules</h2>
  ${require('../../markdown/templates/templates-2col.md')}
  ${require('../../markdown/templates/templates-3col.md')}
  ${require('../../markdown/templates/templates-4col.md')}
  ${require('../../markdown/templates/templates-2col-img-right.md')}
  ${require('../../markdown/templates/templates-2col-img-left.md')}
  ${require('../../markdown/templates/templates-infographic.md')}
  ${require('../../markdown/templates/templates-blockquote.md')}
  ${require('../../markdown/templates/templates-video.md')}
  ${require('../../markdown/templates/templates-centeredtext.md')}
  ${require('../../markdown/templates/templates-banner-textleft.md')}
  ${require('../../markdown/templates/templates-banner-textright.md')}
  ${require('../../markdown/templates/templates-banner-offset-textbox.md')}
</main>