/*
 * Blockquote layout
 */

.#{$rf-prefix}-blockquote-module {
  .#{$rf-prefix}-dx-templates & {

    margin: 0 24px 0;

    .row {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;

      @include respond-to('large') {
        flex-direction: row;
      }
    }

    .col {
      width: 100%;
      margin: 0 0 24px;
      padding: 24px;
      position: relative;
      text-align: left;
      box-shadow: 0 1px 4px 0 rgba(0,0,0,.2);

      @include respond-to('large') {
        width: 30%;
        margin: 0 5% 0 0;
        padding: 24px;
        text-align: center;
        border: 0;
      }

      &:last-of-type {
        margin-right: 0;
        margin-bottom: 0;
      }

      .quote-box {
        

        blockquote {
          border: 0;
          text-align: center;
          margin: 0;
        }

        blockquote:before {
          content: "\201C";
          margin: 0;
          font-size: 77px;
          color: #b7cddc;
          display: block;
          line-height: 0.83;
          height: 0.3em;
        }

        blockquote span {
          display: block;
          margin: 16px 0;
          text-align: center;
        }

        p {
          margin: 0;
          text-align: center;
        }
      }
    }
  }
}
